.gradient-custom-3 {
    /* fallback for old browsers */
    background: #0066ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(5, 174, 236), rgb(0, 111, 255));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(5, 174, 236), rgba(0, 111, 255))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #0066ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(5, 174, 236), rgba(0, 111, 255));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(5, 174, 236), rgba(0, 111, 255))
}
.card {
    border-radius: 15px;
}

body {
    /* fallback for old browsers */
    background: #0066ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(5, 174, 236), rgba(0, 111, 255));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(5, 174, 236), rgba(0, 111, 255))
}

h1 {
    font-family: impact;
    font-size:50px;
    color: white;
    text-align: center
}
