body {
    background: #E5E5E5;
}

input::placeholder {
    text-align: center;
}

.e1_12 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

.e1_13 {
    position: absolute;
    left: 326px;
    top: 62px;
}

.ei1_16_12_4 {
    background-color: rgba(117.9384894669056, 182.14337825775146, 228.63672584295273, 1);
    width: 600px;
    height: 879px;
    position: relative;
    left: 334px;
    top: 0px;
    border-radius: 42px;
}


.e1_17 {
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 29px;
    position: absolute;
    left: 354px;
    top: 652px;
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.e1_18 {
    color: rgba(0, 0, 0, 1);
    width: 139px;
    height: 29px;
    position: absolute;
    left: 352px;
    top: calc(599px - 100px);
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.currency {
    color: rgba(0, 0, 0, 1);
    width: 50px;
    height: 29px;
    position: absolute;
    left: 454px;
    top: 652px;
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.endtime {
    color: rgba(0, 0, 0, 1);
    width: 148px;
    height: 29px;
    position: absolute;
    left: 482px;
    top: calc(600px - 100px);
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.e1_19 {
    color: rgba(0, 0, 0, 1);
    width: 507px;
    height: 53px;
    position: absolute;
    left: 380px;
    top: calc(94px - 80px);
    font-family: Inter;
    text-align: left;
    font-size: 44px;
    letter-spacing: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.e1_20 {
    color: rgba(0, 0, 0, 1);
    width: 560px;
    height: 360px;
    position: absolute;
    left: 354px;
    top: calc(160px - 80px);
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    resize: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.result {
    color: rgba(0, 0, 0, 1);
    width: 560px;
    height: 90px;
    position: absolute;
    left: 354px;
    top: 550px;
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    resize: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.e1_21 {
    color: rgba(0, 0, 0, 1);
    width: 148px;
    height: 29px;
    position: absolute;
    left: 355px;
    top: calc(544px - 100px);
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.starttime {
    color: rgba(0, 0, 0, 1);
    width: 148px;
    height: 29px;
    position: absolute;
    left: 490px;
    top: calc(546px - 100px);
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.ei1_22_15_50 {
    width: 220px;
    height: 35px;
    position: absolute;
    left: 524px;
    top: 815px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}