<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/css/card.css" th:href="@{/css/card.css}">
</head>

<body>
<div th:if="${#lists.isEmpty(tasks)}" class="no-tasks">
    Нет новых задач
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" th:href="@{/employee}"
       style="font-family: impact, serif; color: black; font-size: 30px; margin-left: 4px">WorkSwiper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div th:if="${hide}">
                <a class="btn btn-light" th:href="@{/employee}">Назад</a>
            </div>
            <div th:if="${!hide}">
                <a class="nav-item nav-link" th:href="@{/task_archive}">Просмотренные задачи</a>
            </div>
            <a class="nav-item nav-link" th:href="@{/task_doing}">Отмеченные задачи</a>
            <a class="nav-item nav-link" th:href="@{/profile}">Мой профиль</a>
            <label class="nav-item nav-link" style="color: midnightblue" th:text="${username}"></label>
            <a class="btn btn-outline-danger my-2 my-sm-0" type="submit" href="/logout">Выйти</a>
        </div>
    </div>
</nav>
<div th:if="${not #lists.isEmpty(tasks)}">
    <table id="1" class="table table-striped table-hover" style="display:none;">
        <tbody>
        <tr th:each="task : ${tasks}" class="table-tr">
            <th scope="row" class="table-th" th:text="${task.id}"></th>
            <th scope="row" class="table-th" th:text="${task.user_id.lastName} + ' ' + ${task.user_id.firstName}"></th>
            <th scope="row" class="table-th" th:text="${task.name}"></th>
            <th scope="row" class="table-th" th:text="${task.description}"></th>
            <th scope="row" class="table-th" th:text="${task.starttime}"></th>
            <th scope="row" class="table-th" th:text="${task.endtime}"></th>
            <th scope="row" class="table-th" th:text="${task.result}"></th>
            <th scope="row" class="table-th" th:text="${task.price_id.amount}"></th>
            <th scope="row" class="table-th" th:text="${task.price_id.currency}"></th>
        </tr>
        </tbody>
    </table>

    <div>
        <div id="cardCount" style="display: none"></div>
        <div th:if="${!hide}">
            <form id="form-like" th:action="@{/check_likes}" method="post">
                <label for="likedCard"></label><textarea name="likedCard" id="likedCard"
                                                         style="display: none"></textarea>
                <input type="submit" style="display: none">
            </form>
        </div>
        <div th:if="${hide}">
            <form id="form-like" th:action="@{/check_likes_archive}" method="post">
                <label for="likedCard"></label><textarea name="likedCard" id="likedCard"
                                                         style="display: none"></textarea>
                <input type="submit" style="display: none">
            </form>
        </div>
        <div th:if="${!hide}">
            <form id="form-dislike" th:action="@{/check_dislikes}" method="post">
                <label for="dislikedCard"></label><textarea name="dislikedCard" id="dislikedCard"
                                                            style="display: none"></textarea>
                <input type="submit" style="display: none">
            </form>
        </div>
    </div>

    <div class="card-all-cards">
        <ion-icon id="dislike" name="heart-dislike"></ion-icon>
        <div id="swiper">
            <p class="task-id"></p>
            <p class="task-author"></p>
            <p class="task-name"></p>
            <p class="task-description"></p>
            <p class="task-starttime"></p>
            <p class="task-endtime"></p>
            <p class="task-result"></p>
            <p class="task-amount"></p>
            <p class="task-currency"></p>
        </div>
        <ion-icon id="like" name="heart"></ion-icon>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <br>
</div>
</body>

<script lang="JavaScript">

    class Card {
        constructor({
                        onDismiss,
                        onLike,
                        onDislike,
                        task_ID,
                        name,
                        author,
                        description,
                        starttime,
                        endtime,
                        result,
                        amount,
                        currency
                    }) {
            this.onDismiss = onDismiss;
            this.onLike = onLike;
            this.onDislike = onDislike;
            this.task_ID = task_ID;
            this.author = author;
            this.name = name;
            this.description = description;
            this.starttime = starttime;
            this.endtime = endtime;
            this.result = result;
            this.amount = amount;
            this.currency = currency;

            this.#init();
        }

        // private properties
        #startPoint;
        #offsetX;
        #offsetY;

        #isTouchDevice = () => {
            return (('ontouchstart' in window) ||
                (navigator.maxTouchPoints > 0) ||
                (navigator.msMaxTouchPoints > 0));
        }

        #init = () => {
            const card = document.createElement('div');
            card.classList.add('card');

            const textElementID = document.createElement('p');
            textElementID.textContent = this.task_ID;
            textElementID.classList.add('task-id');
            card.append(textElementID);

            const textElement = document.createElement('p');
            textElement.textContent = this.author;
            textElement.classList.add('task-author');
            card.append(textElement);

            const textElement1 = document.createElement('p');
            textElement1.textContent = this.name;
            textElement1.classList.add('task-name');
            card.append(textElement1);

            const textElement2 = document.createElement('p');
            textElement2.textContent = this.description;
            textElement2.classList.add('task-description');
            card.append(textElement2);

            const textElement3 = document.createElement('p');
            textElement3.textContent = this.starttime;
            textElement3.classList.add('task-starttime');
            card.append(textElement3);

            const textElement4 = document.createElement('p');
            textElement4.textContent = this.endtime;
            textElement4.classList.add('task-endtime');
            card.append(textElement4);

            const textElement5 = document.createElement('p');
            textElement5.textContent = this.result;
            textElement5.classList.add('task-result');
            card.append(textElement5);

            const textElement6 = document.createElement('p');
            textElement6.textContent = this.amount;
            textElement6.classList.add('task-amount');
            card.append(textElement6);

            const textElement7 = document.createElement('p');
            textElement7.textContent = this.currency;
            textElement7.classList.add('task-currency');
            card.append(textElement7);


            this.element = card;
            if (this.#isTouchDevice()) {
                this.#listenToTouchEvents();
            } else {
                this.#listenToMouseEvents();
            }
        }

        #listenToTouchEvents = () => {
            this.element.addEventListener('touchstart', (e) => {
                const touch = e.changedTouches[0];
                if (!touch) return;
                const {clientX, clientY} = touch;
                this.#startPoint = {x: clientX, y: clientY}
                document.addEventListener('touchmove', this.#handleTouchMove);
                this.element.style.transition = 'transform 0s';
            });

            document.addEventListener('touchend', this.#handleTouchEnd);
            document.addEventListener('cancel', this.#handleTouchEnd);
        }

        #listenToMouseEvents = () => {
            this.element.addEventListener('mousedown', (e) => {
                const {clientX, clientY} = e;
                this.#startPoint = {x: clientX, y: clientY}
                document.addEventListener('mousemove', this.#handleMouseMove);
                this.element.style.transition = 'transform 0s';
            });

            document.addEventListener('mouseup', this.#handleMoveUp);

            // prevent card from being dragged
            this.element.addEventListener('dragstart', (e) => {
                e.preventDefault();
            });
        }

        #handleMove = (x, y) => {
            this.#offsetX = x - this.#startPoint.x;
            this.#offsetY = y - this.#startPoint.y;
            const rotate = this.#offsetX * 0.1;
            this.element.style.transform = `translate(${this.#offsetX}px, ${this.#offsetY}px) rotate(${rotate}deg)`;
            // dismiss card
            if (Math.abs(this.#offsetX) > this.element.clientWidth * 0.7) {
                this.#dismiss(this.#offsetX > 0 ? 1 : -1);
            }
        }

        // mouse event handlers
        #handleMouseMove = (e) => {
            e.preventDefault();
            if (!this.#startPoint) return;
            const {clientX, clientY} = e;
            this.#handleMove(clientX, clientY);
        }

        #handleMoveUp = () => {
            this.#startPoint = null;
            document.removeEventListener('mousemove', this.#handleMouseMove);
            this.element.style.transform = '';
        }

        // touch event handlers
        #handleTouchMove = (e) => {
            if (!this.#startPoint) return;
            const touch = e.changedTouches[0];
            if (!touch) return;
            const {clientX, clientY} = touch;
            this.#handleMove(clientX, clientY);
        }

        #handleTouchEnd = () => {
            this.#startPoint = null;
            document.removeEventListener('touchmove', this.#handleTouchMove);
            this.element.style.transform = '';
        }

        #dismiss = (direction) => {
            this.#startPoint = null;
            document.removeEventListener('mouseup', this.#handleMoveUp);
            document.removeEventListener('mousemove', this.#handleMouseMove);
            document.removeEventListener('touchend', this.#handleTouchEnd);
            document.removeEventListener('touchmove', this.#handleTouchMove);
            this.element.style.transition = 'transform 1s';
            this.element.style.transform = `translate(${direction * window.innerWidth}px, ${this.#offsetY}px) rotate(${90 * direction}deg)`;
            this.element.classList.add('dismissing');
            setTimeout(() => {
                this.element.remove();
            }, 1000);
            if (typeof this.onDismiss === 'function') {
                this.onDismiss();
            }
            if (typeof this.onLike === 'function' && direction === 1) {
                this.onLike();
            }
            if (typeof this.onDislike === 'function' && direction === -1) {
                this.onDislike();
            }
        }
    }

    // DOM
    const swiper = document.querySelector('#swiper');
    const like = document.querySelector('#like');
    const dislike = document.querySelector('#dislike');

    // constants
    const urls = [
        'https://source.unsplash.com/random/1000x1000/?sky',
        'https://source.unsplash.com/random/1000x1000/?landscape',
        'https://source.unsplash.com/random/1000x1000/?ocean',
        'https://source.unsplash.com/random/1000x1000/?moutain',
        'https://source.unsplash.com/random/1000x1000/?forest'
    ];

    const task_ID = [];
    const author = [];
    const name = [];
    const description = [];
    const starttime = [];
    const endtime = [];
    const result = [];
    const amount = [];
    const currency = [];

    // Перебираем строки таблицы и добавляем данные в соответствующие списки
    const table = document.getElementById('1');
    const rows = table.getElementsByTagName('tr');

    for (let i = 0; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('th');

        task_ID.push(cells[0].textContent.trim());
        author.push(cells[1].textContent.trim());
        name.push(cells[2].textContent.trim());
        description.push(cells[3].textContent.trim());
        starttime.push(cells[4].textContent);
        endtime.push(cells[5].textContent.trim());
        result.push(cells[6].textContent.trim());
        amount.push(cells[7].textContent.trim());
        currency.push(cells[8].textContent.trim());

    }

    // variables
    let cardCount = 0;
    let b = -1;

    function updateCardCount() {
        const cardCountElement = document.getElementById('cardCount');
        cardCountElement.textContent = `Количество карточек: ${cardCount}`;
    }

    let likedCards = [];
    let dislikedCards = [];

    function updateCardLiked(cardUserID) {
        likedCards.push(cardUserID[b]);
        const likedCardElement = document.getElementById('likedCard');
        likedCardElement.textContent = `${likedCards}`;
    }

    function updateCardDisliked(cardUserID) {
        dislikedCards.push(cardUserID[b]);
        const dislikedCardElement = document.getElementById('dislikedCard');
        dislikedCardElement.textContent = `${dislikedCards}`;
    }


    // functions
    function appendNewCard() {
        const card = new Card({
            task_ID: task_ID[cardCount],
            author: author[cardCount],
            name: name[cardCount],
            description: description[cardCount],
            starttime: starttime[cardCount],
            endtime: endtime[cardCount],
            result: result[cardCount],
            amount: amount[cardCount],
            currency: currency[cardCount],

            onDismiss: () => {
                appendNewCard();
                updateCardCount();
            },
            onLike: () => {
                b++;
                updateCardLiked(task_ID);
                like.style.animationPlayState = 'running';
                like.classList.toggle('trigger');

                const form = document.getElementById('form-like');
                setTimeout(() => {
                    form.submit();
                }, 450);

            },
            onDislike: () => {
                b++;
                updateCardDisliked(task_ID)
                dislike.style.animationPlayState = 'running';
                dislike.classList.toggle('trigger');

                // Находим форму и вызываем метод submit
                const form = document.getElementById('form-dislike');
                setTimeout(() => {
                    form.submit();
                }, 450);
            }
        });

        const swiper = document.querySelector('#swiper');
        swiper.append(card.element);
        cardCount++;

        const cards = swiper.querySelectorAll('.card:not(.dismissing)');
        cards.forEach((card, index) => {
            card.style.setProperty('--i', index);
        });

        updateCardCount();
    }


    // first 5 cards
    const a = name.length;

    for (let i = 0; i < 3; i++) {
        appendNewCard();
    }

</script>

</html>