<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../static/css/profile.css" th:href="@{/css/profile.css}">
</head>
<body>
<a class="btn btn-light" th:href="@{/employee}">Назад</a>
<div class="card">
    <div class="card-text">
        <div class="portada">
        </div>
        <div class="title-total">
            <div class="title">Work Swiper</div>
            <div th:if="${image != null}">
                <img height="100px" width="100px" th:src="@{${'/display?id=' + image.id}}" alt="Avatar">
            </div>
            <h2 class="first-name" th:text="${user.firstName}">Артём</h2>
            <h2 class="second-name" th:text="${user.lastName}">Петриков</h2>
            <h5 class="email" th:text="'Почта: ' + ${user.email}">mail@ru</h5>
            <h6 class="age" th:if="${personalData != null}" th:text="${personalData.age ?: ''}">20</h6>
            <h5 class="country" th:if="${personalData != null}" th:text="${personalData.country ?: ''}">Россия</h5>
            <h6 class="city" th:if="${personalData != null}" th:text="${personalData.city ?: ''}">Москва</h6>
            <h6 class="education" th:if="${personalData != null}" th:text="${personalData.education ?: ''}">Лучшее</h6>
            <div th:if="${not #lists.isEmpty(techStackList)}">
                <ul th:each="tech: ${techStackList}" class="table-tr">
                    <li th:text="${tech.technology}">f</li>
                </ul>
            </div>
            <div th:if="${not #lists.isEmpty(linkList)}">
                <tr th:each="link: ${linkList}" class="table-tr">
                    <a class="text-black" th:text="${link.text}" th:href="${link.link}"></a>
                </tr>
            </div>
            <p class="desc" th:if="${personalData != null}" th:text="${personalData.aboutme ?: ''}">Учусь, Занимаюсь
                спортом, готов выполнить любую поставленную задачу в сроки! В личку не писать только звонить</p>
            <h4 class="telephone" th:if="${personalData != null}" th:text="${personalData.telephone ?: ''}">
                +7(800)535-35-35</h4>
            <br>
            <div class="box-3">
                <form th:action="@{/edit_profile}" method="post">
                    <input class="my-button" type="submit" value="Редактировать">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>